<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
        <title>ToDo APP</title>
    </head>
    <body>
        <main class="container">
            <h1>/ Path jeder hat zugriff!</h1>
        </main>
        <!-- Scripts -->
        <script src="/webjars/jquery/3.7.1/dist/jquery.min.js"></script>
        <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    </body>
</html>